* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family:sans-serif;
  }
  
  header {
    position: fixed;
    top: 3px;
    width: 100%;
    background-color: transparent;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    z-index: 1000;
  }
  
  header.scrolled {
    background-color: #333;
  }
  
  .logo {
    color: white;
    font-size: 34px;
    font-weight: bold;
    padding-inline: 20px;
    border: 7px solid black;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size:20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 0px 20px 0px 20px;
    border-radius: 30px 30px 30px ;
    transition: color 0.3s;
  }
  
  .nav-links li a:hover {
    color: #333;
    background-color: blanchedalmond;
  }
  
  .hero {
    height: 100vh;
    background-image: url(image/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    text-align: center;
  }